
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.display-flex{
    display: flex;
}
.bg-light{
    background-color:rgba(243, 169, 82, 0.1);
}
.text-primery{
    color: #FF900E;
}

.text-gray{
    color: #424242;
}
.text-light-gray{
    color: #727272;
}

.navber{
    display: flex;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
    
}
.nav-link{
    text-decoration: none;
    font-weight: 500;

}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.banner-content{
    max-width: 870px;
    margin: 0 auto;
    text-align: center;
   margin-bottom: 50px;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}


.banner-title{
    font-weight: 700;
    font-size: 4em;
}
.btn-primery{
    background-color: #FF900E;
    color: white;
    width: 180px; height: 60px;
    padding: 20px,25px;
font-weight: 600;
font-size: 1.25rem;
border-radius: 8px;

border: none;
}
.banner-img{
    width: 100%;
}

main > section{
    margin-top: 130px;
}
main{
    max-width: 1440px;
    margin: 0 auto;

}
.teams{
    align-items: center;
    
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
 
    gap: 20px;
}
.our-features{
    margin-left: 130px;
    max-width: 530px;
}
.sectiom-title{
    font-size: 2.4rem;
    font-weight: 700;
}
#quick-list{
    font-weight: 500;
}
/* fact-card style */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.fact-card{
    border: 1px solid #FF900E;
    width:240px ;
    height: 240px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.fact-number{
    font-weight: 600;
    font-size: 2.8rem;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 10px;
}
.fact-description{
    max-width: 540px;
}
.sponsors-info{
    max-width: 540px;
    margin: 50px auto;
  text-align: center;
}
.sponsors-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponsors-companies img {
    filter: grayscale(100%);
}
#feature-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

@media screen and (max-width:576px) {
    .navbar,.nav-link,.teams{
        flex-direction: column;
    }
    .team-img-container ,.facts-container,.sponsors-companies{
    
        grid-template-columns: repeat(1, 1fr);
    }
    .facts-container{
        justify-content: center;
        gap:5px;
    }
    .our-features{
        margin-left: 20px;
    }
    .sponsors-companies{
        gap: 20px;
        justify-items: center;
    }

}
@media screen and (min-width:576px) and (max-width:992px) {
   .teams{flex-direction: column;
border: #FF900E;
}
   .our-features{margin: 50px auto;}
 
.sponsors-companies , .facts-container{
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

}